.tags-table {
    .table-tags-editor {
        input[type="text"] {
            background-color: transparent;
            border: 0;
            border-bottom: 1px solid transparent;
            box-shadow: none;
            transition: border-bottom .2s linear;
            &:focus {
                border-bottom: 1px solid $gray;
                outline: none;
            }
        }
        .row {
            &.header-tag-row {
                padding-left: 1rem;
            }
        }
        .color-filter {
            align-items: center;
            display: flex;
            flex-grow: 1;
            padding: 0 10px;
            position: relative;
            input {
                padding: 0;
            }
        }
    }
    .row {
        &.tag-row {
            margin: .3rem 0;
            padding: .7rem;

            &.edition {
                padding-left: 1rem;
            }
        }
    }
    .mixing-row {
        margin: .3rem 0;
        padding: .7rem;

        &.mixing-tags-from,
        &.mixing-tags-to {
            background: lighten($primary, 60%);
        }
        .mixing-confirm {
            margin: 0 1rem;
        }
        .mixing-help-text {
            color: $gray-light;
        }
        .mixing-cancel {
            .icon {
                opacity: 1;
            }
        }
    }
}
