.import-project {
    .back {
        color: $primary;
    }
    &-from-site {
        background: $mass-white;
        color: $grayer;
        cursor: pointer;
        display: flex;
        margin-bottom: .5rem;
        padding: 1.5rem;
        &:hover {
            background: rgba($primary, .1);
            transition: background .3s ease-in;
        }
    }
    h1 {
        align-items: center;
        display: flex;
        justify-content: center;
        .icon {
            @include svg-size(1.2rem);
        }
        span {
            @include font-size(medium);
            @include font-type(bold);
            padding-left: .5rem;
        }
    }
}
